@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scrollbar-color: #1B3E79 #A9BBDA;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #A9BBDA;
}

body::-webkit-scrollbar-thumb {
  background-color: #1B3E79;
}

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

h3, h4, h5, h6, a, p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

a, p, button {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  h6 {
    font-size: 16px;
    line-height: 24px;
  }
  a, p, button {
    font-size: 14px;
    line-height: 20px;
  }
}

/* PADDING */
.defaultPaddingX {
  @apply px-6 lg:px-20 xl:px-[10%];
}

.defaultPaddingY {
  @apply py-14;
}

.defaultPadding {
  @apply defaultPaddingX defaultPaddingY;
}

/* BUTTON */
.button {
  @apply rounded-md py-2 px-3 duration-100 ease-in-out;
}

.buttonWhite {
  @apply button bg-white text-neutral-800 enabled:hover:bg-neutral-200;
}

/* TAG */
.tag {
  @apply rounded-2xl px-3 py-1;
}

/* UNDERLINE ANIMATION */
.un, .unWhite {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 0px;
  transition: 0.2s;
}

.un:hover, .unWhite:hover {
  text-underline-offset: 2px;
}

.unWhite:hover {
  text-decoration-color: #fff;
}

/* UNDERLINE STATIC */
.unStatic {
  background-image: linear-gradient(#2D5D95, #2D5D95);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 6px;
  background-repeat: no-repeat;
  transition:
    background-size 0.7s ease-in-out,
    background-position 0.7s ease-in-out,
    background-color 0.1s;
}

.unStaticSelected {
  background-image: linear-gradient(#2D5D95, #2D5D95);
  background-position: 100% 100%; /*OR bottom left*/
  background-size: 100% 6px;
  background-repeat: no-repeat;
  transition:
    background-size 0.7s ease-in-out,
    background-position 0.7s ease-in-out,
    background-color 0.1s;
}